body {
    margin: 0;
    display: flex;
    justify-content: center;
}
.board {
    display: flex;
    position: relative;
    width: 100vw;
    height: 100vh;
    border: 2px solid black;
}
.player {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: green;
    border-radius: 50%;
    caret-color: transparent;
}
.circle {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: red;
    caret-color: transparent;
}
.bullet {
    position: absolute;
    z-index: -10;
    user-select: none;
}

.enemyBullet {
    position: absolute;
    z-index: -10;
    user-select: none;
}
img {
    user-select: none;
    width: 30px;
    height: 30px;
    caret-color: transparent;
}
body {
    overflow: hidden;
}

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:rgba(0, 0, 0, 0.379);
}

.invisible {
    display: none;
}

